<div class="left">
	<div id='map' class="map-container"></div>
</div>
<div class="right">
	<div id='pie-info' class="pie-container open"></div>
	<div id='bar-info' class="pie-container open"></div>
</div>