<div class = "container">
					<div class='basicFilters'>
						<div class="clearfix">
							
							<div class="collectFilter filterTabs">
								<div class=" filterTabs-cirle one" ><!--
									<div class="circle"><img alt="1" src="">
										</img>
									</div>-->
								</div>
								<div class="separator"></div>

								<div id='button-production' class="filterTabs first production"></div>
								<div class="separator"></div>
								<div id='button-collecte' class="filterTabs first collecte"></div>
							</div>
							<div class="separator"></div>

							<div class="filterTabs">
								<div class=" filterTabs-cirle two" >
									<!--<div class="circle"><img alt="2" src="">
										</img>
									</div>-->
								</div>
								<div class="separator"></div>
								<div class="filterTabs second">
									<div class="choix-filieres">
									<select id = "select-filiere">
						            </select>																	
						            </div>
								</div>
							</div>
							<div class="separator"></div>
							<div class="filterTabs">
								<div class=" filterTabs-cirle three" ><!--
									<div class="circle"><img alt="3" src="">
										</img>
									</div>-->
								</div>
								<div class="separator"></div>
								<div class="filterTabs second">Second select box</div>
							</div>
						</div>
					</div>
				</div>
				<div class='extendedFilters closed'> <!--  add class "extendedFilters closed" to close the pane-->
						<div>
							<div class="filterTabs">
								<div class=" filterTabs-cirle" >
									<div class="circle"><img alt="4" src="">
										</img>
									</div>
								</div>
								<div class="separator"></div>
								<div class="filterTabs second">Faites Défiler ou jouez</div>
							</div>
							
							<div class="separator"></div>

							<div class="filterTabs third">
								<div>HERE SLIDER</div>
							</div>
						</div>
				</div>

				<div class="">
				<div class="filterBtn closed"></div>
			</div>