				<div class = "container">
					<div class='basicFilters'>
						<div class="clearfix">
							
							<div class="collectFilter filterTabs">
								<div class=" filterTabs-circle one" ><!--
									<div class="circle"><img alt="1" src="">
										</img>
									</div>-->
								</div>
								<div class="separator"></div>

								<div id='button-production' class="filterTabs first production"></div>
								<div class="separator"></div>
								<div id='button-collecte' class="filterTabs first collecte"></div>
							</div>
							<div class="separator"></div>

							<div class="filterTabs">
								<div class=" filterTabs-circle two" >
									<!--<div class="circle"><img alt="2" src="">
										</img>
									</div>-->
								</div>
								<div class="separator"></div>
								<div class="filterTabs second">
									<div class="choix-filieres">
									<select id = "select-filiere">
						            </select>											
						            </div>
								</div>
							</div>
							<div class="separator"></div>
							<div class="filterTabs">
								<div class=" filterTabs-circle three" ><!--
									<div class="circle"><img alt="3" src="">
										</img>
									</div>-->
								</div>
								<div class="separator"></div>
								<div class="filterTabs second">
									<div class="choix-filieres">
										<div id='choix-materiels'></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{!}}
				<div class='unselectable-removed closed'>
					<div class='extendedFilters closed'> <!--  add class "extendedFilters closed" to close the pane-->
							<div>
								<div class="filterTabs">
									<!--<div class=" filterTabs-circle" >
										<div class="circle"><img alt="4" src="">
											</img>
										</div>
									</div>
									<div class="separator"></div>
									<div class="filterTabs second"></div> -->
								</div>
								
								<div class="separator"></div>

								<div class="filterTabs third">
									<div id='play-button'></div>
									<div class="slider-wrapper">
										<div id='id-slider'>
											<!-- <div id='id-handle' class="custom-slider-handle"></div>-->
										</div>
									</div>
									
								</div>
							</div>
					</div>
				</div>