<header>
				<div class="content-center">
					<!--<div class="clearfix"><div class="header-title"><div><span>ADEME</span><span> DECHETS</span></div><div>Carte interactive dans les départements français</div></div></div>-->
					<!--<div id='nav-search'>
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
								<i class="icon-search" id="nav-search-icon"></i>
							</span>
						</form>
					</div>-->
				</div>
			</header>