html{
	font-family: 'Dosis';
	font-style: normal;
	font-weight:400;

}

body{
	font-family: 'Dosis';
	font-style: normal;
	background-image: url("img/body-bg.png");
}

header {
	background-image: url("img/header.png");
    border-bottom: 4px solid rgb(62, 83, 96);
    margin-bottom: 28px;
    height: 111px;
    z-index: 1;
}

.clearfix {
    display: inline-block;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 82px;
    z-index: 1;
    transition-duration: 0.15s;
}

.content-center {
    width: 960px;
    margin: 0px auto;
}

.filterPanel {
	margin-top: 0px;
	background-image: url("img/filter-bg.png");
    z-index: 0;
    width: 100%;
    opacity: 1;
    overflow: hidden;
    transition-duration: 0.3s;
}

.filterPanel .container {
    padding-bottom: 23px;
    /*overflow: hidden;*/
    width: 970px;
    position: relative;
    margin: 0px auto -20px;
}

.extendedFilters.closed {
    opacity: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    transition-duration: 0.5s;
}

.extendedFilters {
    opacity: 1;
    margin-top: -3px;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-bottom: 12px;
    width: 100%;
    overflow: hidden;
    height: 110px;
    transition-duration: 0.5s;
}

.top {
    background-color: white;
    box-shadow: 0px 0px 10px -2px rgb(61, 61, 61);
    border-bottom: 1px solid rgb(166, 166, 154);
}
.unselectable {
    -moz-user-select: none;
}

.filterBtn.closed {
    margin-top: -60px;
    transition-duration: 0.5s;
}

.filterBtn {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin-left: 915px;
    position: absolute;
    z-index: -1;
    width: 42px;
    height: 55px;
    margin-top: -18px;
    border-radius: 2px 2px 2px 2px;
    background: url("/img/sprites.png") no-repeat scroll -137px 18px rgb(49, 192, 164);
    transition-duration: 0.5s;
}

.circle {
    overflow: hidden;
    display: block;
    float: left;
    position: absolute;
    width: 38px;
    height: 38px;
    margin: 2px 0px 0px 2px;
    border: 1px dashed rgb(157, 157, 154);
    border-radius: 48px 48px 48px 48px;
    z-index: 2;
    background-color: white;
    background-clip: padding-box;
}


.filterTabs{
	margin-bottom: 10px;
    width: 310px;
    overflow: hidden;
    height: 50px;
    float: left;
    margin-right: -1px;
    border: 1px rgb(204, 204, 204);
    /*border: 1px solid rgb(204, 204, 204); */
    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.collecte{

	background-image: url("img/collecte-neutre.png");
}

.collecte.choosed{
	background-image: url("img/collecte-choisi.png");
}

.production{
	background-image: url("img/production-neutre.png");
}

.production.choosed{
	background-image: url("img/production-choisi.png");
}

.one{background-image: url("img/one.png");} .two{background-image: url("img/two.png");} 
.three{background-image: url("img/three.png");} .four{background-image: url("img/four.png");}



.filterTabs.first{
	cursor: pointer;
    margin-top: 4px;
    width: 110px;
    overflow: hidden;
    height: 40px;
    float: left;
    margin-right: -1px;
    border: 1px rgb(204, 204, 204);
    /*border: 1px solid rgb(204, 204, 204);*/

    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.filterTabs.second{
	cursor: pointer;
    margin-top: 4px;
    width: 235px;
    overflow: hidden;
    height: 40px;
    float: left;
    margin-right: -1px;
    border: 1px  rgb(204, 204, 204);
    /*border: 1px solid rgb(204, 204, 204);*/

    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.filterTabs.third{
	cursor: pointer;
    margin-top: 4px;
    width: 640px;
    overflow: hidden;
    height: 50px;
    float: left;
    margin-right: -1px;
    /*border: 1px solid rgb(204, 204, 204);*/
    border: 1px  rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.choix-filieres select{
   background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 100%;
   -webkit-appearance: none;
}   

.choix-filieres {
   display: inline-block;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: url("img/selector.png") no-repeat right #ddd;
   border: 1px solid #ccc;
   margin-top: -2px;
   -webkit-appearance: none;
   z-index:1;
}

.filterTabs-cirle{
    margin-top: -1px;
    margin-bottom: -2px;
    width: 55px;
    overflow: hidden;
    height: 55px;
    float: left;
    margin-right: -1px;
    margin-left: -2px;
    /*border: 1px solid rgb(204, 204, 204);*/
    border: 1px  rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}


.separator {
    width: 14px;
    height: 50px;
    opacity: 0;
    float: left;
    margin-top: -27px;
    background: url("../img/sprites.png") no-repeat scroll -37px -91px transparent;
    transition-duration: 0.3s;
}

.collectFilter{
 text-align: center;
}

/***SEARCH AREA**************/

#nav-search {
    float:right;
}

#nav-search .form-search {
    margin-top: 1px;
}

#nav-search-input {
    border-color: #6fb3e0;
    border-width: 1px;
    width: 120px;
    height: 18px!important;
    border-radius: 4px!important;
    font-size: 13px;
    color: #666!important;
    z-index: 11;
    -webkit-transition: all ease .15s;
    -moz-transition: all ease .15s;
    -o-transition: all ease .15s;
    transition: all ease .15s;
}

.input-icon>input {
    padding-left: 24px;
    padding-right: 6px;
}

span.input-icon {
    display: inline-block;
}
.input-icon {
    position: relative;
}

select option {
    

}


/***SEARCH AREA**************/


#container{
    position:relative;
    margin: 10px auto -20px;

    
}
.right{

}
.map-container{
    width:712px;
    float: left;  
    /*min-height: 1px;  */
    margin-left: 70px;
    border:1px solid;
    /*background: url("img/map.png");*/
    height:655px;
    overflow:hidden;
}
.pie-container{
    width:536px;
    float: left;  
    /*min-height: 1px;  */
    margin-left: 10px;
    border:1px solid;
    /*background: url("img/pie.png");*/
    background: url("img/info-bg.png");    
    height:324px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px
}
.bar-container{
    display: inline-block;
    vertical-align: middle;
}

.info-title{
    background-image: url("img/info-title-bg.png");
}

.center{
    text-align: center;
    width:235px;
    height:40px;
}

#choix-materiels{

}

.animate {
  transition-duration: 1s;
  transition-timing-function: linear;
  stroke: white;

}

.selectorClass{
    float:left;
    width: 50%;
}



.departement {
    cursor: pointer;
    stroke:white;
    stroke-width:.5px;
}

.departement:hover {
    stroke: white;
    stroke-width: 3px;
    fill-opacity: .67;

}

.tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    text-decoration: none;
    border-radius: 5px 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block;
    background: #9FDAEE; border: 1px solid #2BB0D7;
    padding: 0.5em 0.8em 0.8em 2em;
    height : 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}        

.ademe-search{
    stroke: white;
    stroke-width: 3px;

}