@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}

html{
	font-family: 'Dosis';
	font-style: normal;

}

body{
	font-family: 'Dosis';
	font-style: normal;
	background-image: url("img/body-bg.png");
}

header {
	background-image: url("img/header.png");
    border-bottom: 4px solid rgb(62, 83, 96);
    margin-bottom: 28px;
    height: 111px;
    z-index: 1;
}

.clearfix {
    display: inline-block;
}
footer {
    position: fixed;
    margin: auto;
    width: 80%;
    bottom: 0px;
    height: 82px;
    z-index: 1;
    transition-duration: 0.15s;
}

.content-center {
    width: 960px;
    margin: 0px auto;
}

.filterPanel {
	margin-top: -25px;
	background-image: url("img/filter-bg.png");
    z-index: 0;
    width: 100%;
    opacity: 1;
    overflow: hidden;
    transition-duration: 0.3s;
}

.filterPanel .container {
    padding-bottom: 23px;
    /*overflow: hidden;*/
    width: 970px;
    position: relative;
    margin: 0px auto -20px;
}

.extendedFilters.closed {
    opacity: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    transition-duration: 0.5s;
}

.extendedFilters {

    cursor: auto;
    position relative;
    border: 1px ;
    opacity: 1;
    /*margin-top: -3px;
    margin-bottom: 3px;*/
    margin:auto;
    padding-top: 20px;
    padding-bottom: 12px;
    /*width: 90%;*/
    width:1249px;
    margin-top: 10px;
    overflow: hidden;
    height: 50px;
    transition-duration: 0.5s;
    /*background: url("img/slider.png");*/
    background: url("img/empty-slider.png");
}
}

.top {
    background-color: white;
    box-shadow: 0px 0px 10px -2px rgb(61, 61, 61);
    border-bottom: 1px solid rgb(166, 166, 154);
}
.unselectable {
    -moz-user-select: none;
}

.filterBtn.closed {
    margin-top: -60px;
    transition-duration: 0.5s;
}

.filterBtn {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin-left: 915px;
    position: absolute;
    z-index: -1;
    width: 42px;
    height: 55px;
    margin-top: -18px;
    border-radius: 2px 2px 2px 2px;
    background: url("img/sprites.png") no-repeat scroll -137px 18px rgb(49, 192, 164);
    transition-duration: 0.5s;
}

.circle {
    overflow: hidden;
    display: block;
    float: left;
    position: absolute;
    width: 38px;
    height: 38px;
    margin: 2px 0px 0px 2px;
    border: 1px dashed rgb(157, 157, 154);
    border-radius: 48px 48px 48px 48px;
    z-index: 2;
    background-color: white;
    background-clip: padding-box;
}


.filterTabs{
	margin-bottom: 10px;
    width: 310px;
    overflow: hidden;
    height: 50px;
    float: left;
    margin-right: -1px;
    border: 1px rgb(204, 204, 204);
    /*border: 1px solid rgb(204, 204, 204); */
    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.collecte{

	background-image: url("img/collecte-neutre.png");
}

.collecte.choosed{
	background-image: url("img/collecte-choisi.png");
}

.production{
	background-image: url("img/production-neutre.png");
}

.production.choosed{
	background-image: url("img/production-choisi.png");
}

.one{background-image: url("img/one.png");} .two{background-image: url("img/two.png");} 
.three{background-image: url("img/three.png");} .four{background-image: url("img/four.png");}



.filterTabs.first{
	cursor: pointer;
    margin-top: 4px;
    width: 105px;
    overflow: hidden;
    height: 40px;
    float: left;
    margin-right: -1px;
    border: 1px rgb(204, 204, 204);
    /*border: 1px solid rgb(204, 204, 204);*/

    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.filterTabs.second{
	cursor: pointer;
    margin-top: 4px;
    width: 235px;
    overflow: hidden;
    height: 40px;
    float: left;
    margin-right: -1px;
    border: 1px  rgb(204, 204, 204);
    /*border: 1px solid rgb(204, 204, 204);*/

    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.filterTabs.third{
	cursor: pointer;
    margin-top: -16px;
    width: 910px;
    overflow: hidden;
    height: 70px;
    float: left;
    margin-right: -1px;
    /*border: 1px solid rgb(204, 204, 204);*/
    border: 1px  rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.choix-filieres select{
   background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 100%;
   -webkit-appearance: none;
}   

.choix-filieres {
   display: inline-block;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: url("img/selector.png") no-repeat right #ddd;
   border: 1px  #ccc;
   margin-top: -2px;
   -webkit-appearance: none;
   z-index:1;
}

.filterTabs-circle{
    margin-top: -1px;
    margin-bottom: -4px;
    width: 58px;
    overflow: hidden;
    height: 55px;
    float: left;
    margin-right: -1px;
    margin-left: -2px;
    /*border: 1px solid rgb(204, 204, 204);*/
    border: 1px  rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}


.separator {
    width: 14px;
    height: 50px;
    opacity: 0;
    float: left;
    margin-top: -27px;
    background: url("img/sprites.png") no-repeat scroll -37px -91px transparent;
    transition-duration: 0.3s;
}

.collectFilter{
 text-align: center;
}

/***SEARCH AREA**************/

#nav-search {
    float:right;
}

#nav-search .form-search {
    margin-top: 1px;
}

#nav-search-input {
    border-color: #6fb3e0;
    border-width: 1px;
    width: 120px;
    height: 18px!important;
    border-radius: 4px!important;
    font-size: 13px;
    color: #666!important;
    z-index: 11;
    -webkit-transition: all ease .15s;
    -moz-transition: all ease .15s;
    -o-transition: all ease .15s;
    transition: all ease .15s;
}

.input-icon>input {
    padding-left: 24px;
    padding-right: 6px;
}

span.input-icon {
    display: inline-block;
}
.input-icon {
    position: relative;
}

select option {


}


/***SEARCH AREA**************/


#container{
    position:relative;
    margin: 10px auto -20px;

    
}
.right{

}
.map-container{
    width:712px;
    float: left;  
    /*min-height: 1px;  */
    margin-left: 80px;
    border:1px ;
    /*background: url("img/map.png");*/
    height:655px;
    overflow:hidden;
}
.pie-container{
    width:536px;
    float: left;  
    /*min-height: 1px;  */
    margin-left: 1px;
    border:1px ;
    /*background: url("img/pie.png");*/
    background: url("img/info-bg.png");    
    height:324px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px
}
.bar-container{
    display: inline-block;
    vertical-align: middle;
}

.info-title{
    /*border-bottom: 4px solid rgb(62, 83, 96);*/
    border-bottom:1px  #181619;
    margin-left: 20px;
    margin-right: 20px;
}

.info-title h{
    font-size: x-large;
    position: relative;
    display: inline-block;
    vertical-align: top;

}

.info-footer{
    margin-left: 20px;
    margin-right: 20px;    
}

.center{
    text-align: center;
    width:235px;
    height:40px;
}


#choix-materiels{
}


.animate {
  transition-duration: 1s;
  transition-timing-function: linear;
  stroke: black;

}

.selectorClass{
    float:left;
    width: 50%;
}



.departement {
    cursor: pointer;
    stroke:black;
    stroke-width:.5px;
}

.departement:hover {
    stroke: black;
    stroke-width: 3px;
    fill-opacity: .67;

}

.tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    text-decoration: none;
    border-radius: 5px 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
    position: absolute; 
    left: 1em; 
    top: 2em; 
    z-index: 99;
    margin-left: 0; 
    width: 200px;
    display: block;
    background: #efeef3; border: 1px solid #efeef3;
    padding: 0.5em 0.8em 0.8em 2em;
    height : 110px;
}

.tooltip h{
    font-size: x-large;
    position: relative;
    display: inline-block;
    vertical-align: top;
}


.tooltip a{
    color:#05986c;
    font-size: xx-large;
    position: relative;
    display: inline-block;
}



.tooltip:before{
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #efeef3;
   border-bottom: 13px solid transparent;
}

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width:1;
  /*shape-rendering: crispEdges;*/
}

.axis.tick {
    stroke: lightgrey;
    opacity: 0.7;
}

/*.bar {
  fill: steelblue;
  }*/

  .x.axis path {
      display: none;
  }

  .y.axis path{
    fill:none;
}

.ademe-search{
    stroke: white;
    stroke-width: 3px;
}

.infoPie-label{

}

.infoPie-total{

}
.infoPie-units{

}


.infoPie-units{
    color:#05986c;
}

.unselectable-removed{

    margin-top: 20px;
    height: 150px;
    background-image: url("img/body-bg.png");
    border: 1px solid rgb(204, 204, 204);
}


.unselectable-removed.closed{
    opacity: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    transition-duration: 0.5s;
}

#id-slider{
    height:10px;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#play-button{
    cursor: pointer;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 5px;
    /*border: 1px solid rgb(204, 204, 204);*/
    border: 1px  rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}

.slider-wrapper{

    display: inline-block;    
    margin-top: 3px;
    height: 40px;
    width: 820px;
    float: left;
    margin-left: 20px;
    /*border: 1px solid rgb(204, 204, 204);*/
    border: 1px  rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
}



.ui-slider .ui-slider-handle {

    width: 33px;
    height: 35px;
    background-image: url("img/slider-handle.png") !important;
}

.ui-slider .ui-slider-range {
    position: relative;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;

}
/*For jquery slider range*/
div.ui-slider-range.ui-widget-header {
    background: #21d1a0;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
}

.playing{
    background-image: url("img/playing.png") ;
}
