
				<div id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="icon-home"></i>
							<a href="#">Home</a>

							<span class="divider">
								<i class="icon-angle-right"></i>
							</span>
						</li>
						<li class="active">Dashboard</li>
					</ul><!--.breadcrumb-->

					<div id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
								<i class="icon-search" id="nav-search-icon"></i>
							</span>
						</form>
					</div><!--#nav-search-->
				</div>

				<div id="page-content" class="clearfix">
					<div class="page-header position-relative">
						<h1>
							Cartographie des collectes de déchets dans les départements de france
						</h1>
					</div><!--/.page-header-->

					<div class="row-fluid">
						<!--PAGE CONTENT BEGINS HERE-->

						
						<div class="space-6"></div>

						<div class="row-fluid">
							<!-- Main container for the map-->
							<div  class="span8 ">
								<div id="ace-settings-container">
									<div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
										<i class="icon-cog"></i>
									</div>

									<div id="ace-settings-box">
										<span>&nbsp; Affichage</span>
										<div>
											<input type="radio" name = "affichage" class="ace-checkbox-2" id="ace-settings-procuced" />
											<label class="lbl" for="ace-settings-procuced"> Production</label>
										</div>

										<div>
											<input type="radio" name = "affichage" class="ace-checkbox-2" id="ace-settings-collect" />
											<label class="lbl" for="ace-settings-collect" > Collecte</label>
										</div>
									</div>							

								</div><!--/#ace-settings-container-->

								<div id="mapcontainer">
								</div>
							
							</div>

							<div class="vspw8"></div>

							<div class="span4">
								<div class="widget-box">
									<div class="widget-header widget-header-flat widget-header-small">
										<h5>
											<i class="icon-signal"></i>
											Traffic Sources
										</h5>

										<div class="widget-toolbar no-border">
											<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
												This Week
												<i class="icon-angle-down icon-on-right"></i>
											</button>

											<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
												<li class="active">
													<a href="#">This Week</a>
												</li>

												<li>
													<a href="#">Last Week</a>
												</li>

												<li>
													<a href="#">This Month</a>
												</li>

												<li>
													<a href="#">Last Month</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div id="piechart-placeholder"></div>

											<div class="hr hr8 hr-double"></div>

											<div class="clearfix">
												<div class="grid3">
													<span class="grey">
														<i class="icon-fw8book-sign icon-2x blue"></i>
														&nbsp; likes
													</span>
													<h4 class="bigger pull-right">1,255</h4>
												</div>

												<div class="grid3">
													<span class="grey">
														<i class="icon-twitter-sign icon-2x purple"></i>
														&nbsp; tweets
													</span>
													<h4 class="bigger pull-right">941</h4>
												</div>

												<div class="grid3">
													<span class="grey">
														<i class="icon-pinterest-sign icon-2x red"></i>
														&nbsp; pins
													</span>
													<h4 class="bigger pull-right">1,050</h4>
												</div>
											</div>
										</div><!--/widget-main-->
									</div><!--/widget-body-->
								</div><!--/widget-box-->
							</div><!--/span-->
						</div><!--/row-->

						<div class="hr hr32 hr-dotted"></div>
						<div class="row-fluid">
							<div>
								<select class="selectpicker">
									<option>Mustard</option>
								    <option>Ketchup</option>
								    <option>Relish</option>
								 </select>
							</div>
							HERE THE SLIDER
						</div>

						<div class="hr hr32 hr-dotted"></div>

						<!-- for configurations-->
						<div class="row-fluid">
							<div class="span5">
								
							</div>

							<div class="span7">
								
							</div>
						</div>

													

						<!--PAGE CONTENT ENDS HERE-->
					</div><!--/row-->
				</div><!--/#page-content-->

				