	
				<ul class="nav nav-list">
					<li class="active">
						<a href="index.html">
							<i class="icon-dashboard"></i>
							<span>Dashboard</span>
						</a>
					</li>
				
					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-desktop"></i>
							<span>Filières</span>

							<b class="arrow icon-angle-down"></b>
						</a>
					</li>
					<li>
						<select id = "sectorSelector" class="selectorClass" onchange='updateCheckboxes()' >
			                <option value=" " name="filiereSelector">
			                    PA
			                </option>
			                <option>DEE</option>
			            </select>
					</li>
					<li>
						<div id = "changingCheckboxes">
        				</div>
					</li>							
				</ul><!--/.nav-list-->

				<div id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>

				
				

