<form><select id="yearselector" name="selector" class="selectpicker"></select></form>

{{!
	This should be a slider instead
}}

<script type="text/javascript">
{{yearPicker data}}
</script>

{{! usage: }}
{{!
	var years = {"choisir une année":"", "2009":"2009", "2010":"2010", "2011":"2011","2012":"2012", "2013":"2013"};
	var data = {}
	data.years= years;

}}
